@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleAndRound {
  0%, 100% {
    transform: scale(1);
    border-radius: 100%;
  }
  25% {
    transform: scale(.9);
    border-radius: 80%;
  }
  75% {
    transform: scale(1);
    border-radius: 100%;
  }
}

.agent-circle {
  animation: scaleAndRound 2000ms ease-in-out infinite;
}
